# SmartLibrary Environment Configuration Sample

# Supabase Project Credentials
SUPABASE_URL=https://rprufikrukrgczodsthe.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJwcnVmaWtydWtyZ2N6b2RzdGhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA4NTY3MDksImV4cCI6MjEwNjQzMjcwOX0.x1772MZgCnGDhrLd3A10dftDIZAuJUFtZydkCuNsL4E
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJwcnVmaWtydWtyZ2N6b2RzdGhlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDg1NjcwOSwiZXhwIjoyMTA2NDMyNzA5fQ.HKNNTQ1s5Swmqkza85hEecL16E9svc25LJa8nl_1H-A

# API Port & Cors
API_URL=http://localhost:5278
